#red {
  position:   relative;
  width:      400px;
  height:     400px;
  background: red;
}

#blue {
  position:   absolute;
  bottom:     0;
  width:      200px;
  height:     200px;
  background: blue;
}

#yellow {
  width:      100px;
  height:     100px;
  background: yellow;
}

* {
  padding: 0;
  margin:  0;
}

div {
  width:  200px;
  height: 200px;
}